body {
  background-image: url(https://images.unsplash.com/photo-1513829596324-4bb2800c5efb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

.container {
  background-color: grey;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}